<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan apply page</title>
</head>
<body>
    <form method="POST">
        <input type="number" name="loan_amount" placeholder="Loan Amount" required>
        <input type="number" name="tenure" placeholder="Loan Tenure (in years)" required>
        <textarea name="purpose" placeholder="Purpose" required></textarea>
        <button type="submit">Apply for Loan</button>
    </form>
    
</body>
</html>